runpod==1.7.7
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers==4.49.0
diffusers==0.32.2
accelerate>=1.5.2
Pillow>=11.1.0
opencv-python>=4.11.0.86
numpy>=2.2.3
xformers==0.0.29.post3
safetensors>=0.5.3
huggingface-hub>=0.29.3
diffusers>=0.32.2
requests>=2.32.3